<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <div class = "header">
            <h1 class = "title">Movie Booking System</h1>
        </div>
        <div class="wrapper">
           <%for(let i=0;i<data.length;i++){  %>
             
            <div class="card"'>
              <div class="card-title">
                <h2><%= data[i].name %></h2>
              </div>
              <div class="card-description">
                <h4><%= data[i].description %></h4>
              </div>
                <img src = <%= data[i].url %> alt="Movie" class="centre"/>
              </div>
             

           <% } %>
        </div>
        
        <%- include('../public/partials/footer') %>
    </body>

    <script>
          const movie = document.querySelectorAll('.card');
          movie.forEach(function (value, i) {
          value.addEventListener('click', ()=>{
              var x = ""+ (i+1);
               location.assign('/movie/'+x)
          })
         });

    </script>
</html>